<div ng-cloak>
    <form name="urlForm" role="form" novalidate ng-submit="vm.encurtaUrl" show-validation>
        <div>
            <uib-tabset active="active">
                <uib-tab index="0" heading="Encuntar URL">
                    <div class="row btn-encurta">
                        <div class="form-group col-md-8">
                            <label>URL</label>
                            <input type="url" class="form-control" ng-class="{'url-invalid' : urlForm.url.$invalid && urlForm.url.$touched}" name="url" id="field-url" ng-model="vm.link.url"
                                   required ng-minlength="4" ng-pattern="/(^(https?:\/\/)?(www\.)?([a-zA-Z0-9]+\.)([a-zA-Z]{2,3})(\.[a-zA-Z]{2,3})?$)/" protocol-prefix>
                            <div ng-show="urlForm.url.$invalid">
                                <p class="help-block invalid-msg"
                                   ng-show="urlForm.url.$error.required && urlForm.url.$touched">
                                    Esse campo é obrigatório.
                                </p>
                                <p class="help-block invalid-msg"
                                   ng-show="urlForm.url.$error.minlength" translate-value-min="4">
                                    A url a ser encurtada deve ter no mínimo 4 caracteres.
                                </p>
                                <p class="help-block invalid-msg"
                                   ng-show="urlForm.url.$error.pattern" translate-value-pattern="/(^(https?:\/\/)?(www\.)?([a-zA-Z0-9]+\.)([a-zA-Z]{2,3})(\.[a-zA-Z]{2,3})?$)/">
                                    Url inválida.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Alias (Opcional)</label>
                            <input type="text" class="form-control" ng-class="{'url-invalid' : urlForm.alias.$invalid}" name="alias" id="field-alias" ng-model="vm.link.alias" ng-minlength="3">
                            <div ng-show="urlForm.alias.$invalid">
                                <p class="help-block"
                                   ng-show="urlForm.alias.$error.minlength" translate-value-min="3">
                                    O alias da sua url encurtada deve ter no mínimo 3 caracteres.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group btn-toolbar button-bar col-md-8">
                            <button type="button" class="btn btn-success btn-encurta pull-right" ng-click="vm.save()" ng-disabled="urlForm.url.$invalid || urlForm.url.$error.pattern">Encurtar</button>
                        </div>
                    </div>
                    <div ng-show="vm.mostra">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label>URL encurtada</label>
                                <input type="text" class="form-control" readonly ng-model="vm.shortened">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label>URL original</label>
                                <input type="text" class="form-control" readonly ng-model="vm.original">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>Tempo de execução</label>
                                <input type="text" class="form-control" readonly ng-model="vm.tempo">
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <!-- Tab de recuperar URL-->
                <uib-tab index="1" heading="Restaurar URL">
                    <div class="row btn-encurta">
                        <div class=" form-group col-md-4">
                            <label>Alias</label>
                            <input type="text" class="form-control form-inline text-input" ng-model="vm.alias" ng-required="true">
                        </div>
                        <div class="form-group btn-toolbar col-md-2">
                            <button type="button" class="btn btn-success btn-encurta" ng-click="vm.retrieve()" ng-disabled="vm.alias == null">Restaurar</button>
                        </div>
                    </div>
                    <div class="row" ng-show="vm.mostraRetorno">
                        <div class="table-responsive">
                            <table class="jh-table table table-striped">
                                <thead>
                                <tr>
                                    <th><span>Url</span></th>
                                    <th><span>Alias</span></th>
                                    <th><span>Time Taken (em milisegundos)</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="link in vm.result | filter: (link.alias = vm.alias) | limitTo:vm.limit track by link.id">
                                    <td>{{link.url}}</td>
                                    <td>{{link.alias}}</td>
                                    <td>{{link.time_taken}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <a type="button" name="Navegar para"
                                                    href="{{link.url}}"
                                                    target="_blank"
                                                    class="btn btn-success btn-sm">
                                                <span class="glyphicon glyphicon-link"></span>
                                                <span class="hidden-xs hidden-sm"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </form>
</div>
